* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #0f0f0f;
    height: 100%;
    font-family: 'Amatic SC', cursive;
}

.backgroundimage {
    background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/4364/production/_115325271_gettyimages-514080166.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #F8DC81;
    font-size: 150px;
    font-weight: bold;
    line-height: .9;
}
h2 {
    color: #A2D0C1;
    font-size: 50px;
}

form {
    font-size: 30px;
    color: #EFF7E1;
}
input, button, select {
    font-size: inherit;
}


.container {
    background-image: url("https://cdn.wallpapersafari.com/91/2/TAGs3P.jpg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

button {
    background-color: rgba(66, 66, 66, 0);
    border-radius: 50%;
    font-size: 50px;
    font-family: inherit;
    display: block;
    color: #A2D0C1;
    padding: 50px;
    transform: rotate(35deg);
    transition: .5s all;
    }

.big {
    transform: scale(1.2);
}
.small {
    transform: scale(0.8);
}

button:hover {
    background: white;
    border: 2px solid #A2D0C1;
}